*{
    margin: 0;
    
}
body{
    font-family: 'Poppins',
    sans-serif;
    background-image: url("../images/backgroundCar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


/* navigation styles */
nav{
    background: rgba(217, 236, 178, 0.521);
    
}
.nav-bar li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    
}
.nav-bar li a{
    text-decoration: none;

}


