*{
    margin: 0;
    
    
}
body{
    font-family: 'Poppins',
    sans-serif;
    background-image: url("../images/backgroundCar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /* for hidding horizontal scroll bar */
    overflow-y:scroll;
    overflow-x: hidden;
    /* opacity: 0.2; */
    
}


/* navigation styles */
header{
    
}
nav{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    top: 0;
    margin: 0;
    /* position: fixed; */
}
    
    
.nav-bar li{
    list-style-type: none;
    /* display: inline-block; */
    float: left;
    padding: 0px 20px;
}

.nav-bar, .nav-right, a{
    text-decoration: none;
    color: lightsteelblue;
}
.nav-bar li:hover a{
    color: #fff;
    /* border: 3px dotted gray; */

}

.nav-bar{
    display: inline;
    padding: 10px;
    
}

.nav-right{ 
    float: right;
    padding-right: 30px;
}

.nav-right input[type=text]{
    padding: 6px;
    float: right;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    
}
/* css animation text */
.animated-text{
    color:rgb(113, 169, 233);
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
    text-align: center;
    animation: Tesla-Cars 5s linear 2s infinite;
    padding: 15px;
    margin: 0px;
    font-size: 20px;
}

@keyframes Tesla-Cars{
    0% {
        background-color: red;
        left: 0;
        top: 0;
        color: green;
    }
    25%{
        background-color: rgb(194, 192, 81);
        left: 0;
        top: 0;
    }

    75%{
        background-color: aqua;
        left: 0;
        top: 0;
        color: red;
    }
    100%{
        background-color: rgb(139, 95, 160);
        left: 0;
        top: 0;
    }
}
/* section car */
.container{
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
   
}
.car-container-common{
     transform: scale(1);
     transition: transform 0.9s ease-in-out;
}
.car-container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* align-items: center; */   
}
.car-info{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid rgb(245, 241, 238);
    box-sizing: border-box;
    margin: 30px;
    box-shadow: 5px 5px 10px gray;
    /* padding-right: 10px ; */
    padding-right: 50px;
    border-radius: 20px;

}
.car-img img{
    margin: 25px;
    width: 100%;
    height: 300px;
    opacity: 0.9;
    border-radius: 20px;
}

.car-title{
    text-align: justify;
    padding: 0px 25px;
}

.car-des{
    text-align: justify;
    padding: 0px 20px;
    overflow: hidden;
    
}

/* media query */
@media only screen and (max-width:600px){
    .nav-right a, .nav-bar, .{
        float: none;
        display: block;
        padding: 0px 10px;
        width: 100%;
        margin: 0;
        overflow-x: hidden;
    }
    .animated
    .nav-right input[type=text]{
        border: 1px solid #ccc;
        padding-right: 0px 10px;
    }
}